.franklin-content {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  line-height: 1.35em;
}

/* on wide screens, fix content width to a max value */
@media (min-width: 940px) {
  .franklin-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* on narrow device, reduce margins */
@media (max-width: 768px) {
  .franklin-content {
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* list */
ul {margin-left: 0; padding-left: 1rem;}

.franklin-content {
  position: relative;
  padding-left: 1%;
  padding-right: 1%;
  line-height: 1.35em;
}
/* On wide screens, fix content width to a max value. */
@media (min-width: 940px) {
  .franklin-content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* On narrow device, reduce margins. */
@media (max-width: 480px) {
  .franklin-content {
    padding-left: 6%;
    padding-right: 6%;
  }
}

.franklin-content ul a {
  color: inherit;
  text-decoration: underline;
}

/* Style and "hide" the sidebar */
/* .sidebar {
  width: 14rem;
} */

/* katex */
.katex-display {
	overflow: auto hidden
}
.no-number .katex-display::after {
  counter-increment: nothing;
  content: "";
}

/* ---------------------------------- envs ---------------------------------- */
.seminar-venue {
  float: right;
  display: inline;
}
 
.collapsible /* a div that wraps the whole collapsible block */ {
}
.collapsible-header {
  /* background-color: #eee; */
  background-color: white;
  /* color: #444; */
  cursor: pointer;
  /* padding: 0.75em 0.5em 0.5em; */
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  font-style: italic;
  /* font-weight: bold; */
}
.collapsible-header-active, 
.collapsible-header:hover {
  background-color: white
}
.collapsible-content {
  /* background-color: #f1f1f1; */
  background-color: #F5F5F7;
  /* padding: 0 1em */
  /* padding-top: 0.3em; */
  /* margin: 0.3rem; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible-header:after {
  content: "\25b2";
  font-size: 1em;
  /* float: right; */
  margin-left: 5px;
}
.collapsible-header-active:after {
  content: "\25bc";
}